<ul class="nav-bar" id="owner">
  <li><a class="nav-link" href="http://localhost:4567/owner/animals">View all animals</a></li>
  <li><a class="nav-link" href="http://localhost:4567/owner/animals/unreserved" class="active">View unreserved animals only</a></li>
</ul>
<a href="animals/unreserved">View unreserved animals only</a>
<br>
<br>
<hr>

<div class="list">
<img src="<%=@animal.image%>" alt="Picture of <%=@animal.name%>, a <%=@animal.species%>">
<p>Name: <%= @animal.name %></p>
<p>Species: <%= @animal.species %></p>
  <% if @animal.reserved == 't' %>
    <p> Reserved
  <% else %>
    <p>Not reserved.
  <% end %>
  </p>
  <% if @animal.available_for_adoption == 't' %>
    <p>Available
  <% else %>
    <p>Not available
  <% end %>
  </p>
  <% if @animal.needs_garden == 't' %>
    <p>Animal needs
  <% else %>
    <p>Animal does not need
  <% end %>
   a garden. </p>
   <% if @animal.needs_company == 't' %>
     <p>Animal is okay alone.
   <% else %>
     <p>Animal needs family and constant attention.
   <% end %>
   </p>
   <% if @animal.needs_no_pets == 't' %>
     <p>Animal needs a family with no pets.
   <% else %>
     <p>Animal is okay with other pets.
   <% end %>
   </p>
   <h5>Animal Profile:</h5>
   <p class="about_me"><%=@animal.about_me%></p>
    </p>
   <a href="../animals"><button>Back to index?</button></a>
   <br>
   <form method="get" action="request">
    <input type="submit" class="delete" value="Request to give this animal a home"/>
   </form>
   <hr>
   </div>
