<ul class="nav-bar">
  <li><a class="nav-link" href="http://localhost:4567/manager/welcome">Home</a></li>
  <li><a class="nav-link" href="http://localhost:4567/manager/animals" class="active">Animals</a></li>
  <li><a class="nav-link" href="http://localhost:4567/manager/owners">Owners</a></li>
  <li><a class="nav-link" href="http://localhost:4567/manager/adoptions">Adoptions</a></li>
  <li><a class="nav-link" href="http://localhost:4567/manager/requests">Requests</a></li>
</ul>
<br><br><br>
<div class="list">
<% for request in @applications %>
    Owner: <%=request.owner.first_name%> <%=request.owner.second_name%>
    <br>
    Animal: <%=request.animal.name%>
    <br>
    Phone_number: <%=request.phone_number%>
    <br>
    Email_address: <%=request.email_address%>
    <hr>
<% end %>
</div>
